<div class="activate-account-wrapper">
  <form class="activate-account-form" (ngSubmit)="onActivate()">
    <h2>{{ "auth.activate.HEADER" | translate }}</h2>
    <p>{{ "auth.activate.INSTRUCTION" | translate }}</p>

    <div class="code-inputs-container">
      <input
        *ngFor="let i of [0, 1, 2, 3, 4, 5]"
        #codeInput
        type="text"
        maxlength="1"
        (keyup)="onKeyUp($event, i)"
        required
      />
    </div>

    <button type="submit">{{ "auth.activate.BTN_SUBMIT" | translate }}</button>
  </form>
</div>
