@if (isModalOpen) {
<app-modal (close)="closeModal()">
  <div modal-header>
    <h2>Wybierz Świat Gry</h2>
  </div>

  <div modal-body>
    <p>Aby kontynuować, wybierz serwer, na którym chcesz grać.</p>
    <select class="server-select" [(ngModel)]="selectedServerInModal">
      <option *ngFor="let server of servers" [ngValue]="server">
        {{ server.name }} - ({{ server.hostname }}:{{ server.port }})
      </option>
    </select>
  </div>

  <div modal-footer class="footer-buttons">
    <button class="btn btn-secondary" (click)="closeModal()">Anuluj</button>
    <button class="btn btn-primary" (click)="joinGame()">Dołącz do Gry</button>
  </div>
</app-modal>
} @if (joinedServer) {
<div class="game-container">
  <header class="top-bar">
    <div class="logo">
      <h2>Plemiona</h2>
    </div>
    <div class="resources">
      <span>Drewno: {{ resources.wood }}</span>
      <span>Glina: {{ resources.clay }}</span>
      <span>Żelazo: {{ resources.iron }}</span>
      <span
        >Ludność: {{ resources.population }}/{{ resources.maxPopulation }}</span
      >
    </div>
    <div class="server-info">
      Serwer: <strong>{{ joinedServer.name }}</strong>
    </div>
  </header>

  <main class="main-content">
    <app-side-menu [activeTab]="activeTab"></app-side-menu>
    <div class="game-world">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
} @if (!isModalOpen && !joinedServer) {
<div class="info-message">
  <p>
    Musisz wybrać serwer, aby rozpocząć grę. Odśwież stronę, aby spróbować
    ponownie.
  </p>
</div>
}
