<div class="wrapper">
  <div class="panel-header">
    <h2>{{ "admin.users.HEADER" | translate }}</h2>
    <button
      class="add-btn"
      (click)="openCreateModal()"
      [title]="'admin.users.BTN_ADD' | translate"
    >
      <mat-icon>add</mat-icon>
      <span>{{ "admin.users.BTN_ADD" | translate }}</span>
    </button>
  </div>

  <app-table
    [columns]="userColumns"
    [data]="usersList"
    [dataModifier]="formatUserData"
    (action)="handleUserAction($event)"
  ></app-table>

  <app-edit-modal
    [isVisible]="isModalOpen"
    [item]="selectedUser"
    [columns]="userColumns"
    (save)="onSaveUser($event)"
    (delete)="onDeleteUser($event)"
    (close)="closeEditModal()"
  ></app-edit-modal>

  <app-create-modal
    [isVisible]="isCreateModalOpen"
    [columns]="userColumns"
    [objectives]="false"
    (save)="onAddUser($event)"
    (close)="closeCreateModal()"
  ></app-create-modal>
</div>
