<div class="wrapper">
  <div class="panel-header">
    <h2>Zarządzanie użytkownikami</h2>
    <button
      class="add-btn"
      (click)="openCreateModal()"
      title="Dodaj użytkownika"
    >
      <mat-icon>add</mat-icon>
      <span>Dodaj użytkownika</span>
    </button>
  </div>

  <app-table
    [columns]="userColumns"
    [data]="usersList"
    [dataModifier]="formatUserData"
    (action)="handleUserAction($event)"
  ></app-table>

  <app-edit-modal
    [isVisible]="isModalOpen"
    [item]="selectedUser"
    [columns]="userColumns"
    (save)="onSaveUser($event)"
    (delete)="onDeleteUser($event)"
    (close)="closeEditModal()"
  ></app-edit-modal>

  <app-create-modal
    [isVisible]="isCreateModalOpen"
    [columns]="userColumns"
    (save)="onAddUser($event)"
    (close)="closeCreateModal()"
  ></app-create-modal>
</div>
