<h3>Utwórz klan</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-row">
    <label>Nazwa klanu</label>
    <input formControlName="name" type="text" />
  </div>

  <div class="form-row">
    <label>Opis klanu</label>
    <input formControlName="description" type="text" />
  </div>

  <div class="form-row">
    <label>Zaproszeni gracze</label>
    <app-multi-select
      [items]="userFriends"
      (selectionChange)="onFriendsChange($event)"
    ></app-multi-select>
  </div>

  <div class="form-row">
    <label>Koszt utworzenia</label>
    <div class="clan-cost-item">
      <span
        ><img src="/assets/icons/wood.png" width="24" />
        {{ clanCost.wood }}</span
      >
      <span
        ><img src="/assets/icons/clay.png" width="24" />
        {{ clanCost.clay }}</span
      >
      <span
        ><img src="/assets/icons/iron.png" width="24" />
        {{ clanCost.iron }}</span
      >
    </div>
  </div>

  <div class="actions">
    <button type="submit" [disabled]="form.invalid">Utwórz klan</button>
  </div>
</form>
