<h3>{{ "clan.create.HEADER" | translate }}</h3>
<form [formGroup]="form" (ngSubmit)="submit()" class="main-container">
  <div class="form-row">
    <label>{{ "clan.create.NAME_LABEL" | translate }}</label>
    <input formControlName="name" type="text" />
  </div>

  <div class="form-row">
    <label>{{ "clan.create.DESC_LABEL" | translate }}</label>
    <input formControlName="description" type="text" />
  </div>

  <div class="form-row">
    <label>{{ "clan.create.INVITED_PLAYERS_LABEL" | translate }}</label>
    <app-multi-select
      [items]="userFriends"
      (selectionChange)="onFriendsChange($event)"
    ></app-multi-select>
  </div>

  <div class="form-row">
    <label>{{ "clan.create.COST_LABEL" | translate }}</label>
    <div class="clan-cost-item">
      <span>
        <img src="/assets/icons/wood.png" width="24" />
        {{ clanCost.wood }}
      </span>
      <span>
        <img src="/assets/icons/clay.png" width="24" />
        {{ clanCost.clay }}
      </span>
      <span>
        <img src="/assets/icons/iron.png" width="24" />
        {{ clanCost.iron }}
      </span>
    </div>
  </div>

  <div class="actions">
    <button type="submit" [disabled]="form.invalid">
      {{ "clan.create.BTN_CREATE" | translate }}
    </button>
  </div>
</form>
