<div class="image-background">
  <div class="overlay">
    <div class="title-content">
      <div class="title-screen">
        <h1>{{ "home.TITLE" | translate }} <span class="highlight">!</span></h1>
        <div class="button-group">
          <a routerLink="/login" class="btn">
            {{ "home.BTN_LOGIN" | translate }}
          </a>
          <a routerLink="/register" class="btn">
            {{ "home.BTN_REGISTER" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
