@use "../../../styles/variables.scss" as *;

.image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  background: url("../../../assets/img/BackgroundImage.png") no-repeat center
    center fixed;
  background-size: cover;

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-content {
    z-index: 1;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: $white;

    .title-screen {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: $white;

        .highlight {
          color: $primary-color;
        }
      }

      .button-group {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .btn {
          padding: 0.75rem 2rem;
          background-color: $primary-color;
          color: $black;
          text-decoration: none;
          font-weight: bold;
          border-radius: 0.5rem;
          transition: all 0.3s ease;

          &:hover {
            background-color: $secondary-color;
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
          }
        }
      }
    }
  }
}
