<div class="admin-panel-container">
  <header class="admin-panel-header">
    <h1>Panel Administracyjny</h1>
  </header>

  <nav class="admin-tabs">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="users">
          <!-- <mat-icon>people</mat-icon> -->
          <img src="/assets/icons/users.png" alt="Users" />
          <span>Użytkownicy</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="buildings">
          <img src="/assets/icons/village.png" alt="Buildings" />
          <span>Budynki</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="resources">
          <img src="/assets/icons/pickaxe.png" alt="Resources" />
          <span>Surowce</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="reports">
          <img src="/assets/icons/report_admin.png" alt="Reports" />
          <span>Zgłoszenia</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="guilds">
          <img src="/assets/icons/shield.png" alt="Guilds" />
          <span>Gildie</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="quests">
          <img src="/assets/icons/quest.png" alt="Quests" />
          <span>Zadania</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
