<div class="login-form-wrapper">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="login-form"
  >
    <h2>{{ "auth.forgot_password.HEADER" | translate }}</h2>

    <div class="description-text">
      {{ "auth.forgot_password.INSTRUCTION" | translate }}
    </div>

    <label>
      <span>{{ "auth.login.EMAIL_LABEL" | translate }}:</span>
      <input formControlName="email" type="email" />
    </label>

    <p class="create-account-link">
      <a routerLink="/login">
        {{ "auth.forgot_password.BACK_TO_LOGIN" | translate }}
      </a>
    </p>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">
      {{ "auth.forgot_password.BTN_SUBMIT" | translate }}
    </button>
  </form>
</div>
