<div class="profile-container" *ngIf="user">
  <div class="profile-header">
    <img
      [src]="
        backendUrl + user.backgroundImage ||
        'assets/images/default-background.jpg'
      "
      [alt]="'profile.BACKGROUND_ALT' | translate"
      class="background-image"
    />
  </div>

  <div class="profile-content">
    <div class="profile-sidebar">
      <div class="avatar-container">
        <ng-container *ngIf="user.profileImage; else initialsAvatar">
          <img
            [src]="backendUrl + user.profileImage"
            [alt]="'profile.AVATAR_ALT' | translate"
            class="avatar-image"
          />
        </ng-container>
        <ng-template #initialsAvatar>
          <div class="initials-avatar">
            <span>{{ userInitials }}</span>
          </div>
        </ng-template>

        <div class="status-indicator" [class.online]="user.isOnline"></div>
      </div>

      <div class="user-main-info">
        <h1 class="user-name">{{ user.firstName }} {{ user.lastName }}</h1>
        <h2 class="user-login">{{ user.login }}</h2>
      </div>
    </div>

    <div class="profile-details">
      <div class="details-section">
        <h3>{{ "profile.ABOUT_ME_HEADER" | translate }}</h3>
        <p>{{ user.bio || ("profile.NO_BIO" | translate) }}</p>
      </div>

      <div class="details-section">
        <h3>{{ "profile.INFO_HEADER" | translate }}</h3>
        <ul>
          <li>
            <span class="label">{{ "profile.EMAIL_LABEL" | translate }}:</span>
            <span class="value">{{ user.email }}</span>
          </li>
          <li>
            <span class="label">{{ "profile.ROLE_LABEL" | translate }}:</span>
            <span class="value">{{ user.role }}</span>
          </li>
        </ul>
      </div>

      <div class="footer-buttons">
        <button>{{ "profile.BTN_SEND_MESSAGE" | translate }}</button>
        <button>{{ "profile.BTN_EDIT_PROFILE" | translate }}</button>
      </div>
    </div>
  </div>
</div>
