version: "3.8"

services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: pracownia
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: example
    depends_on:
      - db

  backend:
    build:
      context: ./backend
    depends_on:
      - db
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=example
      - DB_DATABASE=pracownia
      - JWT_SECRET=dka0e8912jdq8891hd98ah
      - JWT_REFRESH_SECRET=dadka09u89ud9qy4781j
    volumes:
      - ./backend/public/uploads:/app/public/uploads

  client:
    build:
      context: ./client
    depends_on:
      - backend
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    volumes:
      - ./backend/public/uploads:/usr/share/nginx/html/uploads

volumes:
  db_data:
