<app-modal (close)="close.emit()">
  <div modal-header>
    <h2>{{ building?.name }}</h2>
  </div>
  <div modal-body>
    <img [src]="building?.imageUrl" alt="{{ building?.name }}" />
    <p>Poziom: {{ building?.level }}</p>
    <div class="radial-menu-container">
      <div class="radial-menu">
        <button class="radial-btn create" (click)="openBuild()" title="Stwórz">
          <span class="icon">＋</span>
        </button>
        <button
          class="radial-btn edit"
          (click)="$event.stopPropagation()"
          title="Edytuj (Wkrótce)"
        >
          <span class="icon">✎</span>
        </button>
        <button
          class="radial-btn destroy"
          (click)="demolish.emit()"
          title="Usuń"
        >
          <span class="icon">🗑️</span>
        </button>
        <button
          class="radial-btn upgrade"
          (click)="openUpgrade()"
          title="Rozbuduj"
        >
          <span class="icon">⬆️</span>
        </button>
      </div>
    </div>
    <app-upgrade-modal
      *ngIf="upgradeMode"
      [building]="building"
      [resources]="resources"
      (upgrade)="onUpgrade($event)"
      (close)="closeModals()"
    ></app-upgrade-modal>
    <app-build-modal
      *ngIf="buildMode"
      [availableBuildings]="availableBuildings"
      [resources]="resources"
      (build)="onBuild($event)"
      (close)="closeModals()"
    ></app-build-modal>
  </div>
  <div modal-footer class="buttons">
    <button (click)="demolish.emit()">Usuń budynek</button>
    <button (click)="close.emit()">Zamknij</button>
  </div>
</app-modal>
