<app-modal (close)="close.emit()">
  <div modal-header>
    <h2>{{ building?.name }}</h2>
  </div>
  <div modal-body>
    <img [src]="building?.imageUrl" alt="{{ building?.name }}" />
    <p>Poziom: {{ building?.level }}</p>
    <p *ngIf="building">
      Zdrowie: {{ building.health }} / {{ building.maxHealth }}
    </p>
    <div *ngIf="building" class="health-bar">
      <div
        class="health-fill"
        [style.width.%]="
          ((building.health || 0) / (building.maxHealth || 1)) * 100
        "
      ></div>
    </div>
    <div class="radial-menu-container">
      <app-radial-menu
        [menuOptions]="menuOptions"
        (optionSelected)="onRadialAction($event)"
      ></app-radial-menu>
    </div>
    <app-upgrade-modal
      *ngIf="upgradeMode"
      [building]="building"
      [resources]="resources"
      (upgrade)="onUpgrade($event)"
      (close)="closeModals()"
    ></app-upgrade-modal>
    <app-build-modal
      *ngIf="buildMode"
      [availableBuildings]="availableBuildings"
      [resources]="resources"
      (build)="onBuild($event)"
      (close)="closeModals()"
    ></app-build-modal>
  </div>
  <div modal-footer class="buttons">
    <button (click)="demolish.emit()">Usuń budynek</button>
    <button (click)="close.emit()">Zamknij</button>
  </div>
</app-modal>
