<app-modal (close)="close.emit()">
  <div modal-header>
    <h2>{{ building?.name }}</h2>
  </div>
  <div modal-body>
    <img [src]="building?.imageUrl" alt="{{ building?.name }}" />
    <p>{{ "buildingDetails.LEVEL" | translate }}: {{ building?.level }}</p>
    <p *ngIf="building">
      {{ "buildingDetails.HEALTH" | translate }}: {{ building.health }} /
      {{ building.maxHealth }}
    </p>
    <div *ngIf="building" class="health-bar">
      <div
        class="health-fill"
        [style.width.%]="
          ((building.health || 0) / (building.maxHealth || 1)) * 100
        "
      ></div>
    </div>
    <div class="radial-menu-container"></div>
    <app-upgrade-modal
      *ngIf="upgradeMode"
      [building]="building"
      [resources]="resources"
      (upgrade)="onUpgrade($event)"
      (close)="closeModals()"
    ></app-upgrade-modal>
    <app-build-modal
      *ngIf="buildMode"
      [availableBuildings]="availableBuildings"
      [resources]="resources"
      (build)="onBuild($event)"
      (close)="closeModals()"
    ></app-build-modal>
  </div>
  <div modal-footer class="buttons">
    <button *ngIf="isOwnVillage" (click)="demolish.emit()">
      {{ "buildingDetails.BTN_DEMOLISH" | translate }}
    </button>
    <button
      *ngIf="isOwnVillage"
      (click)="repair.emit()"
      [disabled]="building?.health === building?.maxHealth"
    >
      {{ "buildingDetails.BTN_REPAIR" | translate }}
    </button>
    <button (click)="close.emit()">
      {{ "buildingDetails.BTN_CLOSE" | translate }}
    </button>
  </div>
</app-modal>
