<div class="table-container">
  <div class="table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          @for (col of columns; track col.key) {
          <th>{{ col.header | translate }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of data; track item) {
        <tr
          (click)="onEdit(item)"
          [attr.title]="'dataTable.CLICK_TO_EDIT' | translate"
        >
          @for (col of columns; track col.key) {
          <td>
            @if (col.isAction) {
            <div class="actions-cell">
              <button
                class="action-btn"
                mat-icon-button
                (click)="$event.stopPropagation(); onEdit(item)"
                [attr.aria-label]="'dataTable.ARIA_EDIT' | translate"
                [attr.title]="'dataTable.TITLE_EDIT' | translate"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="action-btn"
                mat-icon-button
                (click)="$event.stopPropagation(); onDelete(item)"
                [attr.aria-label]="'dataTable.ARIA_DELETE' | translate"
                [attr.title]="'dataTable.TITLE_DELETE' | translate"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            } @else {
            {{ getCellValue(item, col.key) }}
            }
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td
            [attr.colspan]="columns.length"
            style="text-align: center; padding: 20px"
          >
            {{ "dataTable.NO_DATA" | translate }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
