<nav class="side-menu" [class.collapsed]="isCollapsed">
  <div class="menu-content">
    <div class="toggle-button-container">
      <button
        class="toggle-btn"
        (click)="toggleCollapse()"
        aria-label="Zwiń/rozwiń menu"
      >
        <mat-icon>{{ isCollapsed ? "menu" : "chevron_left" }}</mat-icon>
      </button>
    </div>

    <div class="side-controls">
      <div class="lang-flags">
        <button
          class="flag-btn"
          [class.active]="currentLang === 'pl'"
          (click)="setLanguage('pl')"
          title="Polski"
        >
          <img src="/assets/icons/pl-flag.png" alt="PL" />
        </button>
        <button
          class="flag-btn"
          [class.active]="currentLang === 'en'"
          (click)="setLanguage('en')"
          title="English"
        >
          <img src="/assets/icons/en-flag.png" alt="EN" />
        </button>
      </div>

      <div class="theme-toggle">
        <button
          class="theme-btn"
          (click)="toggleTheme()"
          [title]="currentTheme === 'dark' ? 'Jasny motyw' : 'Ciemny motyw'"
        >
          <!-- <mat-icon [ngClass]="{ 'dark-icon': currentTheme === 'dark' }">{{
            currentTheme === "dark" ? "dark_mode" : "light_mode"
          }}</mat-icon> -->
          <img
            [src]="
              '/assets/icons/' +
              (currentTheme === 'dark' ? 'moon.png' : 'sun.png')
            "
            alt="Theme Icon"
          />
        </button>
      </div>
    </div>

    <ul>
      <li
        [class.active]="activeTab === 'village'"
        [title]="isCollapsed ? 'Wioska' : ''"
      >
        <a routerLink="village/kacper0276@op.pl">
          <!-- <mat-icon>cottage</mat-icon> -->
          <img src="/assets/icons/village.png" alt="Village" />
          <span *ngIf="!isCollapsed">Wioska</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'map'"
        [title]="isCollapsed ? 'Mapa' : ''"
      >
        <a routerLink="map">
          <!-- <mat-icon>map</mat-icon> -->
          <img src="/assets/icons/map.png" alt="Map" />
          <span *ngIf="!isCollapsed">Mapa</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'army'"
        [title]="isCollapsed ? 'Armia' : ''"
      >
        <a routerLink="army">
          <!-- <mat-icon>shield</mat-icon> -->
          <img src="/assets/icons/sword.png" alt="Map" />
          <span *ngIf="!isCollapsed">Armia</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'chat'"
        [title]="isCollapsed ? 'Wiadomości' : ''"
      >
        <a routerLink="chat">
          <!-- <mat-icon>chat</mat-icon> -->
          <img src="/assets/icons/messages.png" alt="Chat" />
          <span *ngIf="!isCollapsed">Wiadomości</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'ranking'"
        [title]="isCollapsed ? 'Ranking' : ''"
      >
        <a routerLink="ranking">
          <!-- <mat-icon>leaderboard</mat-icon> -->
          <img src="/assets/icons/ranking.png" alt="Ranking" />
          <span *ngIf="!isCollapsed">Ranking</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'clan'"
        [title]="isCollapsed ? 'Klan' : ''"
      >
        <a routerLink="clan">
          <!-- <mat-icon>groups</mat-icon> -->
          <img src="/assets/icons/shield.png" alt="Clan" />
          <span *ngIf="!isCollapsed">Klan</span>
        </a>
      </li>

      <li
        [class.active]="activeTab === 'invitations'"
        [title]="isCollapsed ? 'Zaproszenia' : ''"
      >
        <a routerLink="invitations">
          <!-- <mat-icon>person_add</mat-icon> -->
          <img src="/assets/icons/invite.png" alt="Invitations" />
          <span *ngIf="!isCollapsed">Zaproszenia</span>

          <ng-container *ngIf="pendingRequestsCount$ | async as count">
            <span *ngIf="count > 0" class="notification-badge">{{
              count
            }}</span>
          </ng-container>
        </a>
      </li>

      <li class="report-bug">
        <a (click)="openBugReport()" title="Zgłoś błąd">
          <!-- <mat-icon>bug_report</mat-icon> -->
          <img src="/assets/icons/report_bug.png" alt="Report bug" />
          <span *ngIf="!isCollapsed">Zgłoś problem</span>
        </a>
      </li>

      @if (currentUser?.role === 'admin') {
      <li
        [class.active]="activeTab === 'admin'"
        [title]="isCollapsed ? 'Panel admina' : ''"
      >
        <a routerLink="admin-panel">
          <!-- <mat-icon>admin_panel_settings</mat-icon> -->
          <img src="/assets/icons/admin_panel.png" alt="Admin Panel" />
          <span *ngIf="!isCollapsed">Panel admina</span>
        </a>
      </li>
      }
    </ul>
  </div>

  <div class="user-profile">
    <div
      class="user-info"
      (click)="toggleUserMenu()"
      [class.collapsed]="isCollapsed"
    >
      <div class="user-avatar">
        <img
          *ngIf="currentUser?.profileImage"
          [src]="backendUrl + currentUser?.profileImage"
          alt="User Avatar"
        />
        <span *ngIf="!currentUser?.profileImage">{{ getInitials() }}</span>
      </div>
      <span *ngIf="!isCollapsed" class="user-name">{{
        currentUser?.login
      }}</span>
    </div>

    <div class="user-menu" *ngIf="userMenuOpen && !isCollapsed">
      <ul>
        <li>
          <a routerLink="profile/edit" (click)="toggleUserMenu()">
            <!-- <mat-icon>edit</mat-icon> -->
            <img src="/assets/icons/pencil.png" alt="Edit" />
            <span>Edycja konta</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['profile', currentUser?.email]"
            (click)="toggleUserMenu()"
          >
            <mat-icon>visibility</mat-icon>
            <span>Widok profilu</span>
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <!-- <mat-icon>logout</mat-icon> -->
            <img src="/assets/icons/exit.png" alt="Logout" />
            <span>Wyloguj</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-bug-report
    *ngIf="bugModalOpen"
    (closed)="closeBugModal()"
    (submitted)="onBugSubmitted()"
  ></app-bug-report>
</nav>
