<div class="login-form-wrapper">
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="login-form"
  >
    <h2>{{ "auth.reset_password.HEADER" | translate }}</h2>

    <label>
      <span>{{ "auth.login.EMAIL_LABEL" | translate }}:</span>
      <input formControlName="email" type="email" readonly />
    </label>

    <label>
      <span>{{ "auth.reset_password.NEW_PASSWORD_LABEL" | translate }}:</span>
      <input formControlName="password" type="password" />
    </label>

    <label>
      <span
        >{{ "auth.reset_password.CONFIRM_PASSWORD_LABEL" | translate }}:</span
      >
      <input formControlName="confirmPassword" type="password" />
    </label>

    <button type="submit" [disabled]="resetPasswordForm.invalid">
      {{ "auth.reset_password.BTN_SUBMIT" | translate }}
    </button>
  </form>
</div>
