@use "variables" as *;
@use "mixins" as *;

.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(4px);
  background: url("../../../../../assets/img/BackgroundImage.png") no-repeat
    center center fixed;
  background-size: cover;
}

.login-form {
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: $white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 0.5px $black;
  }

  .description-text {
    text-align: center;
    color: $gray-300;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.5rem;

    span {
      color: $gray-300;
      font-size: 0.9rem;
    }

    input {
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid transparent;
      outline: none;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.15);
      color: $white;
      transition: all 0.3s ease;

      &:focus {
        background-color: rgba(255, 255, 255, 0.25);
      }

      &[readonly],
      &:disabled {
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.6);
        cursor: not-allowed;

        &:focus {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .create-account-link {
    font-size: 0.95rem;
    text-align: center;
    color: $gray-300;

    a {
      color: $white;
      text-decoration: none;
      transition: color 0.2s;

      &:visited {
        color: $white;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  button {
    @include form-button;
  }
}
