<div class="grid-layout">
  <div *ngFor="let row of buildings; let i = index" class="grid-row">
    <div
      *ngFor="let building of row; let j = index"
      class="grid-cell"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, i, j)"
      (dragenter)="onDragEnter($event, i, j)"
      (dragleave)="onDragLeave($event)"
    >
      <app-building
        *ngIf="building"
        [draggable]="true"
        (dragstart)="onDragStart(i, j)"
        (dragend)="onDragEnd($event)"
        [class.is-dragging]="
          draggedBuilding?.row === i && draggedBuilding?.col === j
        "
        [name]="building.name"
        [level]="building.level"
        [imageUrl]="building.imageUrl"
      >
      </app-building>
    </div>
  </div>
</div>
