<div class="login-form-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>{{ "auth.login.HEADER" | translate }}</h2>

    <label>
      <span>{{ "auth.login.EMAIL_LABEL" | translate }}:</span>
      <input formControlName="email" type="email" />
    </label>

    <label>
      <span>{{ "auth.login.PASSWORD_LABEL" | translate }}:</span>
      <input formControlName="password" type="password" />
    </label>

    <label class="custom-checkbox-wrapper">
      <input type="checkbox" formControlName="rememberMe" />
      <span class="checkmark"></span>
      <span class="checkbox-label">{{
        "auth.login.REMEMBER_ME" | translate
      }}</span>
    </label>

    <p class="create-account-link">
      {{ "auth.login.NO_ACCOUNT" | translate }}
      <a routerLink="/register">{{ "auth.login.REGISTER_LINK" | translate }}</a>
    </p>

    <button type="submit" [disabled]="loginForm.invalid">
      {{ "auth.login.BTN_SUBMIT" | translate }}
    </button>
  </form>
</div>
