<div class="login-form-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Logowanie</h2>

    <label>
      <span>Email:</span>
      <input formControlName="email" type="email" />
    </label>

    <label>
      <span>Hasło:</span>
      <input formControlName="password" type="password" />
    </label>

    <label class="custom-checkbox-wrapper">
      <input type="checkbox" formControlName="rememberMe" />
      <span class="checkmark"></span>
      <span class="checkbox-label">Zapamiętaj mnie</span>
    </label>

    <p class="create-account-link">
      Nie masz konta? <a routerLink="/register">Załóż je teraz!</a>
    </p>

    <button type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
  </form>
</div>
