<div class="invites-container">
  <h2>{{ "invites.FIND_FRIENDS" | translate }}</h2>
  <div class="search-box">
    <input
      type="text"
      [placeholder]="'invites.SEARCH_PLACEHOLDER' | translate"
      class="search-input"
      (keyup)="onSearch($event)"
    />
  </div>

  @if (invites.length > 0) {
  <div class="received-invites">
    <h3>{{ "invites.RECEIVED_INVITES" | translate }}</h3>
    <div class="invites-scroll-container">
      @for (invite of invites; track invite.id) {
      <div class="invite-card">
        <ng-container *ngIf="invite.sender.profileImage; else initialsAvatar">
          <img
            [src]="backendUrl + invite.sender.profileImage"
            [alt]="'invites.AVATAR_ALT' | translate"
            class="user-avatar"
            (click)="navigateToUserProfile(invite.sender.email)"
          />
        </ng-container>
        <ng-template #initialsAvatar>
          <div
            class="initials-avatar"
            (click)="navigateToUserProfile(invite.sender.email)"
          >
            <span>{{
              userInitials(
                invite.sender.firstName,
                invite.sender.lastName,
                invite.sender.login
              )
            }}</span>
          </div>
        </ng-template>
        <span
          class="user-login"
          (click)="navigateToUserProfile(invite.sender.email)"
          >{{ invite.sender.login }}</span
        >
        <div class="invite-actions">
          <button
            class="action-btn accept-btn"
            (click)="
              respondToFriendRequest(invite.id, FriendRequestStatus.ACCEPTED)
            "
          >
            {{ "invites.BTN_ACCEPT" | translate }}
          </button>
          <button
            class="action-btn decline-btn"
            (click)="
              respondToFriendRequest(invite.id, FriendRequestStatus.DECLINED)
            "
          >
            {{ "invites.BTN_DECLINE" | translate }}
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  } @if (searchResults.length > 0) {
  <ul class="results-list">
    @for (user of searchResults; track user.id) {
    <li class="result-item">
      <div class="user-info" (click)="navigateToUserProfile(user.email)">
        <ng-container *ngIf="user.profileImage; else initialsAvatar">
          <img
            [src]="backendUrl + user.profileImage"
            [alt]="'invites.AVATAR_ALT' | translate"
            class="avatar-image"
          />
        </ng-container>
        <ng-template #initialsAvatar>
          <div class="initials-avatar">
            <span>{{
              userInitials(user.firstName, user.lastName, user.login)
            }}</span>
          </div>
        </ng-template>
        <span class="user-login">{{ user.login }}</span>
      </div>
      <button
        class="add-friend-btn"
        [disabled]="sentInvites.has(user.email)"
        (click)="sendInvite(user.email)"
      >
        {{
          sentInvites.has(user.email)
            ? ("invites.STATUS_SENT" | translate)
            : ("invites.BTN_ADD" | translate)
        }}
      </button>
    </li>
    }
  </ul>
  }
</div>
