<div class="wrapper">
  <div class="panel-header">
    <h2>{{ "admin.quests.HEADER" | translate }}</h2>
    <button class="add-btn" (click)="openCreateModal()">
      <mat-icon>add</mat-icon>
      <span>{{ "admin.quests.BTN_ADD" | translate }}</span>
    </button>
  </div>

  <app-table
    [columns]="questColumns"
    [data]="questsList"
    (action)="handleQuestAction($event)"
  ></app-table>

  <app-edit-modal
    [isVisible]="isEditModalOpen"
    [item]="selectedQuest"
    [columns]="questColumns"
    (save)="onSaveQuest($event)"
    (delete)="onDeleteQuest($event)"
    (close)="closeModals()"
  ></app-edit-modal>

  <app-create-modal
    [isVisible]="isCreateModalOpen"
    [columns]="questColumns"
    [objectives]="true"
    (save)="onCreateQuest($event)"
    (close)="closeModals()"
  ></app-create-modal>
</div>
