.toastr-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  min-width: 250px;
  max-width: 350px;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--toast-default-text);
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
  padding: 0;
  line-height: 1;
  color: inherit;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.toast-success {
  background-color: var(--success);
}

.toast-error {
  background-color: var(--danger);
}

.toast-warning {
  background-color: var(--accent);
  color: var(--warning-text);
}

.toast-info {
  background-color: var(--info);
}
