<div class="radial-menu">
  <div *ngIf="showToggle" class="menu-toggle" (click)="toggleMenu()">+</div>

  <ul
    class="menu-items"
    [class.active]="isOpen"
    [style.--item-count]="menuOptions.length"
  >
    <li
      *ngFor="let option of menuOptions; let i = index"
      class="menu-item"
      [style.--i]="i"
      (click)="selectOption(option.action)"
      [title]="option.tooltip"
    >
      <img
        *ngIf="option.iconUrl"
        class="menu-icon"
        [src]="option.iconUrl"
        [alt]="option.action"
      />

      <i
        *ngIf="option.iconName && !option.iconUrl"
        class="material-icons menu-icon"
        >{{ option.iconName }}</i
      >
    </li>
  </ul>
</div>
