<div class="chat-container">
  <aside class="chat-sidebar">
    <div class="sidebar-header">
      <h3>{{ "chat.MESSAGES_HEADER" | translate }}</h3>
      <button class="create-group-btn" (click)="openGroupModal()">+</button>
    </div>

    <div class="search-wrapper">
      <input
        type="text"
        class="search-input"
        [placeholder]="'chat.SEARCH_PLACEHOLDER' | translate"
        (keyup)="onSearch($event)"
      />
    </div>

    <div class="chat-list">
      @if(searchResults.length > 0) {
      <div
        class="chat-item"
        *ngFor="let user of searchResults"
        (click)="createNewDmChat(user)"
      >
        <div class="user-avatar">
          <img
            *ngIf="user.profileImage"
            [src]="backendUrl + user.profileImage"
            class="avatar"
            alt="User Avatar"
          />
          <span *ngIf="!user?.profileImage">{{
            userInitials(user.firstName, user.lastName, user.login)
          }}</span>
        </div>
        <div class="chat-info">
          <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
        </div>
      </div>
      } @else {
      <div
        class="chat-item"
        *ngFor="let chat of allChats"
        [class.active]="selectedChat?.id === chat.id"
        (click)="selectChat(chat)"
      >
        <div class="user-avatar">
          <img
            *ngIf="chat.avatar"
            [src]="backendUrl + chat.avatar"
            class="avatar"
            alt="User Avatar"
          />
          <span *ngIf="!chat?.avatar">{{ getInitials(chat.name) }}</span>
        </div>
        <div class="chat-info">
          <div class="name">{{ chat.name }}</div>
          <div class="last-msg">{{ chat.lastMessage }}</div>
        </div>
        <div class="timestamp">
          {{ chat.lastMessageDate + "Z" | date : "dd-MM-yyyy HH:mm" }}
        </div>
      </div>
      }
    </div>
  </aside>

  <main class="chat-window">
    <ng-container *ngIf="selectedChat; else noChatSelected">
      <div class="chat-header">
        <div class="user-avatar">
          <img
            *ngIf="selectedChat.avatar"
            [src]="backendUrl + selectedChat.avatar"
            class="avatar"
            alt="User Avatar"
          />
          <span *ngIf="!selectedChat.avatar">{{
            getInitials(selectedChat.name)
          }}</span>
        </div>
        <div class="header-info">
          <h4>{{ selectedChat.name }}</h4>
        </div>
      </div>

      <div class="messages-area" #scrollContainer>
        <div
          class="message"
          *ngFor="let msg of messages"
          [ngClass]="{ sent: msg.isMe, received: !msg.isMe }"
        >
          <span>
            <strong>{{ msg.senderName }}</strong>
          </span>
          <div class="bubble">{{ msg.content }}</div>
          <span class="time">{{
            msg.time + "Z" | date : "dd-MM-yyyy HH:mm"
          }}</span>
        </div>
      </div>

      <div class="input-area">
        <input
          type="text"
          [placeholder]="'chat.INPUT_PLACEHOLDER' | translate"
          [(ngModel)]="newMessage"
          (keydown.enter)="sendMessage()"
        />
        <button (click)="sendMessage()">
          {{ "chat.BTN_SEND" | translate }}
        </button>
      </div>
    </ng-container>

    <ng-template #noChatSelected>
      <div
        class="messages-area"
        style="
          align-items: center;
          justify-content: center;
          opacity: 0.5;
          color: var(--text);
        "
      >
        <h3>{{ "chat.SELECT_CHAT_PROMPT" | translate }}</h3>
      </div>
    </ng-template>
  </main>
</div>

<div class="modal-backdrop" *ngIf="isModalOpen">
  <div class="modal-content">
    <h2>{{ "chat.groupModal.HEADER" | translate }}</h2>

    <div class="form-group">
      <label>{{ "chat.groupModal.LABEL_NAME" | translate }}</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="newGroupName"
        [placeholder]="'chat.groupModal.PLACEHOLDER_NAME' | translate"
      />
    </div>

    <div class="form-group">
      <label>{{ "chat.groupModal.LABEL_PARTICIPANTS" | translate }}</label>

      <app-multi-select
        [items]="allFriends"
        [placeholder]="'chat.groupModal.PLACEHOLDER_FRIENDS' | translate"
        (selectionChange)="onFriendsSelectionChange($event)"
      >
      </app-multi-select>
    </div>

    <div class="modal-actions">
      <button class="cancel" (click)="closeGroupModal()">
        {{ "chat.groupModal.BTN_CANCEL" | translate }}
      </button>
      <button
        class="confirm"
        (click)="createGroup()"
        [disabled]="!newGroupName || selectedFriends.length === 0"
      >
        {{ "chat.groupModal.BTN_CREATE" | translate }}
      </button>
    </div>
  </div>
</div>
