@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;

.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../../assets/img/BackgroundImage.png") no-repeat
    center center fixed;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.register-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: $white;
  width: 100%;
  max-width: 400px;
  height: 90%;
  overflow-y: auto;
  text-align: center;

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.5px $black;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: $gray-300;
    }

    input {
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.15);
      color: $white;
      width: 100%;

      &:focus {
        border-color: #007bff;
      }
    }

    .error {
      color: #d9534f;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }

  .password-wrapper {
    display: flex;
    align-items: center;

    input {
      flex: 1;
    }

    .toggle-password {
      margin-left: 0.5rem;
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
      font-size: 0.875rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .register-button {
    @include form-button;
    width: 100%;
  }
}
