@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;

.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../../assets/img/BackgroundImage.png") no-repeat
    center center fixed;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.register-form {
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: $white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.5px $black;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.5rem;

    span {
      color: $gray-300;
    }

    input {
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.15);
      color: $white;
      transition: background-color 0.3s ease;

      &:focus {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  button {
    @include form-button;
  }
}
