<div class="register-form-wrapper">
  <div class="register-card">
    <h2>{{ "auth.register.TITLE" | translate }}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <label for="email">{{ "auth.register.EMAIL_LABEL" | translate }}</label>
        <input id="email" type="email" formControlName="email" />
        @if (registerForm.get('email')?.invalid &&
        registerForm.get('email')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.EMAIL_REQUIRED" | translate }}
        </div>
        }
      </div>

      <div class="form-group">
        <label for="login">{{ "auth.register.LOGIN_LABEL" | translate }}</label>
        <input id="login" type="text" formControlName="login" />
        @if (registerForm.get('login')?.invalid &&
        registerForm.get('login')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.LOGIN_REQUIRED" | translate }}
        </div>
        }
      </div>

      <div class="form-group" *ngIf="false">
        <label for="firstName">{{
          "auth.register.FIRST_NAME_LABEL" | translate
        }}</label>
        <input id="firstName" type="text" formControlName="firstName" />
        @if (registerForm.get('firstName')?.invalid &&
        registerForm.get('firstName')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.FIRST_NAME_REQUIRED" | translate }}
        </div>
        }
      </div>

      <div class="form-group" *ngIf="false">
        <label for="lastName">{{
          "auth.register.LAST_NAME_LABEL" | translate
        }}</label>
        <input id="lastName" type="text" formControlName="lastName" />
        @if (registerForm.get('lastName')?.invalid &&
        registerForm.get('lastName')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.LAST_NAME_REQUIRED" | translate }}
        </div>
        }
      </div>

      <div class="form-group">
        <label for="password">{{
          "auth.register.PASSWORD_LABEL" | translate
        }}</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            {{
              showPassword
                ? ("auth.register.HIDDEN" | translate)
                : ("auth.register.SHOW" | translate)
            }}
          </button>
        </div>
        @if (registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.PASSWORD_REQUIRED" | translate }}
        </div>
        }
      </div>

      <div class="form-group">
        <label for="repeated_password">{{
          "auth.register.REPEAT_PASSWORD_LABEL" | translate
        }}</label>
        <div class="password-wrapper">
          <input
            id="repeated_password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="repeatedPassword"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            {{
              showPassword
                ? ("auth.register.HIDDEN" | translate)
                : ("auth.register.SHOW" | translate)
            }}
          </button>
        </div>
        @if (registerForm.get('repeatedPassword')?.invalid &&
        registerForm.get('repeatedPassword')?.touched) {
        <div class="error">
          {{ "auth.register.VALIDATION.REPEAT_PASSWORD_REQUIRED" | translate }}
        </div>
        }
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="register-button"
      >
        {{ "auth.register.BTN_SUBMIT" | translate }}
      </button>

      <p class="link">
        {{ "auth.register.HAVE_ACCOUNT" | translate }}
        <a routerLink="/login" class="link">{{
          "auth.register.LOGIN_LINK" | translate
        }}</a>
      </p>
    </form>
  </div>
</div>
