<div class="pagination-container" *ngIf="totalItems > 0">
  <div class="pagination-info">
    {{
      "pagination.INFO"
        | translate
          : {
              rangeStart: rangeStart,
              rangeEnd: rangeEnd,
              totalItems: totalItems
            }
    }}
  </div>

  <div class="pagination-controls">
    <div class="limit-selector">
      <span>{{ "pagination.ROWS_LABEL" | translate }}</span>
      <select [ngModel]="pageSize" (change)="onPageSizeChange($event)">
        @for (opt of pageSizeOptions; track opt) {
        <option [value]="opt">{{ opt }}</option>
        }
      </select>
    </div>

    <div class="page-buttons">
      <button
        class="nav-btn"
        [disabled]="currentPage === 1"
        (click)="setPage(currentPage - 1)"
      >
        &lt;
      </button>

      @for (page of pages; track $index) {
      <button
        class="page-number"
        [class.active]="page === currentPage"
        [class.dots]="page === '...'"
        [disabled]="page === '...'"
        (click)="onPageClick(page)"
      >
        {{ page }}
      </button>
      }

      <button
        class="nav-btn"
        [disabled]="currentPage === totalPages"
        (click)="setPage(currentPage + 1)"
      >
        &gt;
      </button>
    </div>
  </div>
</div>
