<div class="multi-select-container">
  <div class="select-box" (click)="toggleDropdown()">
    <div class="chip" *ngFor="let item of selectedItems">
      {{ item.name }}
      <span class="remove" (click)="removeItem(item, $event)">×</span>
    </div>

    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="filterItems()"
      [placeholder]="selectedItems.length > 0 ? '' : placeholder"
    />
  </div>

  <div class="dropdown-list" *ngIf="isOpen">
    <div
      class="option"
      *ngFor="let item of filteredItems"
      [class.selected]="isSelected(item)"
      (click)="selectItem(item)"
    >
      <img
        *ngIf="item.avatar"
        [src]="item.avatar"
        alt="avatar"
        class="option-avatar"
      />
      <span class="option-name">{{ item.name }}</span>
    </div>

    <div class="no-results" *ngIf="filteredItems.length === 0">
      Brak wyników
    </div>
  </div>
</div>
