@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@mixin form-button($bg: #ffcc00, $hover-bg: #e6b800, $text-color: #000) {
  padding: 0.75rem 2rem;
  background-color: $bg;
  color: $text-color;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:enabled {
    background-color: $hover-bg;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
